body {
  background-color: darkgrey;
  font-family: "KoHo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding-top: 60px;
}

.subtitle {
  text-align: center;
}

.main-series {
  background-size: cover;
  // height: 100vh;
  color: aliceblue;
}

.itemCommon {
  cursor: pointer;
  list-style: none;
  margin: 10px;
  width: 150px;
  text-align: center;
  padding: 10px;

  .imgSearch {
    justify-content: center;
    align-items: center;
    width: 120px;
  }
}

.item {
  color: rgb(83, 83, 83);

  &:hover {
    background-color: rgb(192, 192, 192);
    transition: background-color 0.2s;
  }
}

.itemFav {
  background-color: rgb(94, 121, 128);
  color: rgb(255, 255, 255);
}

.favListItemImg {
  width: 130px;
  padding-top: 18px;
  margin-left: 30px;
  padding-right: 15px;
  cursor: pointer;
}
.titleFav {
  height: 50px;
  font-size: 20px;
}

.titleBox {
  display: flex;
  flex-direction: row;
  width: 350px;
}

.buttonFav {
  height: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 15px;
  width: 30px;
}

.titleButton {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 3px;
  max-width: 110px;
}
