.container {
  display: flex;
  flex-direction: column;
  justify-self: center;

  @media all and (min-width: 668px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__form {
    justify-content: center;
    text-align: center;
    margin: 40px 0 10px 0;
  }

  &__inputName {
    width: 250px;
    height: 35px;
    background-color: rgb(192, 195, 199);
    color: rgb(245, 234, 234);
    border: 1px solid grey;
    padding-left: 15px;

    @media all and (min-width: 668px) {
      width: 650px;
    }
  }

  &__showList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__deleteFavorites {
    margin-top: 15px;
    height: 28px;
    width: 200px;
    margin-bottom: 20px;
    color: rgb(246, 233, 243);
    border: honeydew;
    background-color: rgb(146, 149, 149);
    font-size: 18px;
    font-family: "KoHo", sans-serif;

    @media all and (min-width: 768px) {
      color: rgb(246, 233, 243);
    }
  }
}
