<main class="mainBox">
  <div class="header">
    <h1 class="title">Buscador de series</h1>
  </div>
  <form class="container__form js-form">
    <input
      class="js-inputName container__inputName"
      type="text"
      value=""
      placeholder="Escribe tu serie.."
    />
    <button type="submit" class="container__btnSearch">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <div>
    <div class="js-showList container__showList"></div>
  </div>

  <div class="containerBox">
    <h2 class="subtitle">My favorite series</h2>
    <div class="js-favorites favoritesBox"></div>
    <div class="deleteBtn">
      <button class="js-deleteFavorites container__deleteFavorites">
        Delete favorites list
      </button>
    </div>
  </div>
</main>
