<main>
  <h1 class="title">Buscador de series</h1>

  <div class="container">
    <div class="container__SerieFav">
      <div>
        <input
          class="js-inputName container__inputName"
          type="text"
          name="note"
          id="inputSearch"
          value="dexter"
        />
        <button class="js-btnSearch container__btnSearch">Search</button>
      </div>
      <h2>Mis series favoritas</h2>
      <div class="js-favorites container__favorites"></div>
    </div>

    <div>
      <ul class="js-tvSeriesList container__tvSeriesList"></ul>
    </div>

    <!-- <button class="js-deleteFavorites container_deleteFavorites"> -->
    <!-- Eliminar favoritas
    </button> -->
  </div>
</main>
